DirectoryIndex index.php

RewriteEngine on
RewriteRule ^/conference/(.*)$  /conference.php?uid=$1 [L,QSA]
RewriteRule ^/user/(.*)$        /user.php?uid=$1 [L,QSA]
RewriteRule ^/event/(.*)/(.*)$  /event.php?conference=$1&uid=$2 [L,QSA]

# It's OK to visit the index.php alone
# This rule works only if you have index.php as your unique DirectoryIndex
RewriteRule ^/index.php -  [L]

# People often have this folder as an Apache alias
# thanks to the libjs-jquery package
RewriteRule ^/javascript - [L]

RewriteCond %{DOCUMENT_ROOT}%{REQUEST_FILENAME} !-f
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_FILENAME} !-d
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_FILENAME} !-l
RewriteRule ^/(.*) /conference.php?uid=$1 [L,QSA]
