DirectoryIndex index.php

RewriteEngine on

# I'm pretty sure that the last [OR] it's useful... but it does not work!

RewriteCond %{DOCUMENT_ROOT}%{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

RewriteCond %{DOCUMENT_ROOT}%{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteCond %{DOCUMENT_ROOT}%{REQUEST_FILENAME} -l
RewriteRule ^ - [L]

RewriteRule ^/user/(.*) /user.php?uid=$1 [L,QSA]

# Skip Apache aliases
# /javascript is from the `libjs-jquery` package
# /icons is from Apache
RewriteRule ^/javascript - [L]
RewriteRule ^/icons/     - [L]

# Skip DirectoryIndex
RewriteRule index.php$ - [L]

RewriteRule ^/(.*)/(.*)$  /event.php?conference=$1&uid=$2   [L,QSA]

RewriteRule ^/(.*)              /conference.php?uid=$1&ultimo=asd [L,QSA]
